@font-face {
    font-family: 'Geomanist';
    src: url("fonts/Geomanist-Light.eot");
    src: url("fonts/Geomanist-Light.woff") format("woff"),url("fonts/Geomanist-Light.ttf") format("truetype"),url("fonts/Geomanist-Light.svg") format("svg");
    font-weight: 200;
    font-style: light;
}
@font-face {
    font-family: 'Geomanist2';
    src: url("fonts/Geomanist-Medium.eot");
    src: url("fonts/Geomanist-Medium.woff") format("woff"),url("fonts/Geomanist-Medium.ttf") format("truetype"),url("fonts/Geomanist-Medium.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

a{
    text-decoration: none;
}

body{
    margin:30px 60px 30px 60px;
    font-family:Montserrat;
    background-color:#0e0e0e;
    width:100%;
    height: 100%;
    overflow: hidden;
}

.trans{
    width:100%;
    height: 100%;
    background-color:white !important;
    z-index: 100;
}

trans:after {
    content: '';
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 100%;
    background: #E94E3D;
    z-index: -1;
    transition: .4s .02s ease-in all;
}
trans:hover {
    cursor: pointer;
    color: transparent;
}
trans:hover:before {
    left: 100%;
    width: 25%;
}
trans:hover:after {
    left: 100%;
    width: 70%;
}

@keyframes fadein {
    0% { 
        opacity: 0; 
    }
    100%   { 
        opacity: 1; 
    }
}

header{
    z-index: 50;
    display: flex;
    position: fixed;
    width:92%;
    margin:auto;
    overflow: hidden;
    animation: fadein 3s;
}

.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.navigation{
    display: none;
    height: 50px;
    z-index: 10;
    margin-bottom: 20px;
    top:-10px;
    float: right;
    overflow: hidden;
    width:100%;
    position: static;
}

.navigation.isActive{
    display: flex;
    height: 50px;
    z-index: 10;
    margin-bottom: 20px;
    margin-top:20px;
    float: right;
    overflow: hidden;
    width:100%;
    position: static;
}
ul {
    margin:0;
    padding:0;

}

.menu a{
    text-align: right;
    text-transform: uppercase;
    color:white;
    font-size: 16px;
    position: relative;
    transition: color .2s ease;
    padding: 7px 8px;
}

.menu a:hover::before{
    width:100%;
    left:0;
}

.menu a::before{
    content: ''; 
    position: absolute;
    top: calc(100% - 9px);
    width: 0;
    right: 0;
    height: 5px;
}

.menu li:visited{
    color:#ffee007a;
}

.menu a::before{
    transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #E94E3D;
}

header li{
    display:inline;
}

nav{
    float:right;
    margin-top:17px;
}
.wrapper-menu {
    width: 40px;
    height: 40px;
    display: flex;
    float:right;
    margin-right: 120px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
  .wrapper-menu.open {
    transform: rotate(-45deg);  
  }
  
  .line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 4px;
  }
  
  .line-menu.half {
    width: 50%;
  }
  
  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  
  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }
  
  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  
  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }
  

.nav-panel{
    user-select: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 80px;
    float: right;
    overflow: hidden;
    margin-bottom: 30px;
}

.nav-panel li{
    margin-right: 5px;
    color:white;
    font-style: italic;
    display: inline-block;
}

.opt1, .opt2, opt3, opt4, opt5{
display: none;
}

.opt1.isActive, .opt2.isActive, .opt3.isActive, .opt4.isActive, .opt5.isActive{
    width:80px;
    float: right;
    margin-left:10px;
    display: block;
    height: 1px;
    background-color:#E94E3D;
    color:#E94E3D;
    border:1px solid ;
}

.home{
    width:92%;
    height: 91%;
    display: flex;
    position: absolute;
    animation: fadein 3s;
}

.home h1{
    z-index: 2;
    text-align: left;
    font-size: 90px;
    letter-spacing: 21px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    color:white;
    transition: all 0.9s ease-out;
}

.under-text{
    width:100px;
    background-color:#E94E3D;
    height: 2px;
    margin:auto;
    margin-left:-70px;
}

.home p{
    z-index: 2;
    text-align: left;
    letter-spacing: 3px;
    user-select: none;
    font-style: italic;
    font-size:15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    color:white;
    margin-left:-50px;
    transition: all 0.9s ease-out;
}

.home h1:hover{
    text-shadow: 0px 0px 10px #E94E3D;
    color:#E94E3D;
}


.dalej{
    margin-top:auto;
    margin-bottom:auto;
}

button {
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: 2px;
    background: none;
    color: white;
    display: block;
    position: relative;
    outline: none;
    border: none;
    height: 50px;
    width: 190px;
    font-size: 13px;
    z-index: 2;
    transition: .01s .23s ease-out all;
    overflow: hidden;
}
button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    background: #202020;
    z-index: -1;
    transition: .3s ease-in all;
}
button:after {
    content: '';
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: #E94E3D;
    z-index: -1;
    transition: .4s .02s ease-in all;
}
button:hover {
    cursor: pointer;
    color: transparent;
}
button:hover:before {
    left: 100%;
    width: 25%;
}
button:hover:after {
    left: 100%;
    width: 70%;
}

button:hover .icon.after:after {
    left: -130px;
    color: #E94E3D;
    transition: .2s .2s ease all;
}
button:hover .icon.after:before {
    left: -80px;
    top: 19px;
    opacity: 1;
    color: #E94E3D;
}

button:hover .icon2.after:after {
    left: -130px;
    color: #E94E3D;
    transition: .2s .2s ease all;
}
button:hover .icon2.after:before {
    left: -80px;
    top: 19px;
    opacity: 1;
    color: #E94E3D;
}

button:hover .icon3.after:after {
    left: -130px;
    color: #E94E3D;
    transition: .2s .2s ease all;
}
button:hover .icon3.after:before {
    left: -80px;
    top: 19px;
    opacity: 1;
    color: #E94E3D;
}

button:hover .icon4.after:after {
    left: -130px;
    color: #E94E3D;
    transition: .2s .2s ease all;
}
button:hover .icon4.after:before {
    left: -80px;
    top: 19px;
    opacity: 1;
    color: #E94E3D;
}
  
button:hover .icon5.after:after {
    left: -130px;
    color: #E94E3D;
    transition: .2s .2s ease all;
}
button:hover .icon5.after:before {
    left: -80px;
    top: 19px;
    opacity: 1;
    color: #E94E3D;
}

.icon, .icon2, .icon3, .icon4, .icon5 {
    position: absolute;
    top: 0;
    right:0;
}
.icon:after {
    content: '\2192';
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 7px;

}
.icon.after:after {
    left: -250px;
    top:12px;
    color: #E94E3D;
    transition: .15s .25s ease left, .5s .05s ease color;
}
.icon.after:before {
    content: 'Dyskografia';
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: .2s ease-in all;
}

.icon2:after {
    content: '\2192';
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 7px;

}
.icon2.after:after {
    left: -250px;
    top:12px;
    color: #E94E3D;
    transition: .15s .25s ease left, .5s .05s ease color;
}
.icon2.after:before {
    content: 'Historia';
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: .2s ease-in all;
}

.icon3:after {
    content: '\2192';
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 7px;

}
.icon3.after:after {
    left: -250px;
    top:12px;
    color: #E94E3D;
    transition: .15s .25s ease left, .5s .05s ease color;
}
.icon3.after:before {
    content: 'Galeria';
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: .2s ease-in all;
}

.icon4:after {
    content: '\2192';
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 7px;

}
.icon4.after:after {
    left: -250px;
    top:12px;
    color: #E94E3D;
    transition: .15s .25s ease left, .5s .05s ease color;
}
.icon4.after:before {
    content: 'Kontakt';
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: .2s ease-in all;
}

.icon5:after {
    content: '\2192';
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 7px;

}
.icon5.after:after {
    left: -250px;
    top:12px;
    color: #E94E3D;
    transition: .15s .25s ease left, .5s .05s ease color;
}
.icon5.after:before {
    content: 'Home';
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: .2s ease-in all;
}

.article2{
    width:92%;
    height: 91%;
    display: flex;
    position: absolute;
    animation: fadein 3s;
}
.article2 h1{
    text-align: left;
    font-size: 100px;
    letter-spacing: 21px;
    vertical-align: center;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    color:#141414;
    transition: all 0.9s ease-out;
}
.article3{
    width:92%;
    height: 91%;
    display: flex;
    position: absolute;
    animation: fadein 3s;
}
.article3 h1{
    text-align: left;
    font-size: 100px;
    letter-spacing: 21px;
    vertical-align: center;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    color:#141414;
    transition: all 0.9s ease-out;
}
.article4{
    width:92%;
    height: 91%;
    display: flex;
    position: absolute;
    animation: fadein 3s;
}
.article4 h1{
    text-align: left;
    font-size: 100px;
    letter-spacing: 21px;
    vertical-align: center;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    color:#141414;
    transition: all 0.9s ease-out;
}
.article5{
    width:92%;
    height: 91%;
    display: flex;
    position: absolute;
    animation: fadein 3s;
}
.article5 h1{
    text-align: left;
    font-size: 100px;
    letter-spacing: 21px;
    vertical-align: center;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    color:#141414;
    transition: all 0.9s ease-out;
}