@font-face {
    font-family: 'Geomanist';
    src: url("fonts/Geomanist-Light.eot");
    src: url("fonts/Geomanist-Light.woff") format("woff"),url("fonts/Geomanist-Light.ttf") format("truetype"),url("fonts/Geomanist-Light.svg") format("svg");
    font-weight: 200;
    font-style: light;
}
@font-face {
    font-family: 'Geomanist2';
    src: url("fonts/Geomanist-Medium.eot");
    src: url("fonts/Geomanist-Medium.woff") format("woff"),url("fonts/Geomanist-Medium.ttf") format("truetype"),url("fonts/Geomanist-Medium.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

html{
    font-family:Geomanist2;
    font-size:15px;
    background-color: black;
}
.body{
    background-color:black;
}
/*preloader*/
#loading{
	background-color: #374140;
	height: 100%;
    width: 100%;
    left: 0; 
	position: fixed;
	z-index: 9999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
}
#loading-center-absolute img{
    position: absolute;
    margin: auto;
    top: -180px;
    left: -200px;
    right: 0;
    bottom: 0;

}
.circle{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	float: left;
	margin-right: 20px;
	margin-top: 65px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

#one {	
	-webkit-animation: one 1.5s infinite;
	animation: one 1.5s infinite;
	}
#two {
	-webkit-animation: two 1.5s infinite;
	animation: two 1.5s infinite;
	-webkit-animation-delay: 0.25s; 
    animation-delay: 0.25s;
	}
#three {
    -webkit-animation: three 1.5s infinite;
	animation: three 1.5s infinite;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
	
	}
@-webkit-keyframes one {
75% { -webkit-transform: scale(0); }
}

@keyframes one {
  75% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }

}

@-webkit-keyframes two {
  75% { -webkit-transform: scale(0); }
}

@keyframes two {
  75% { 
    transform: scale(0);
    -webkit-transform:  scale(0);
  }
}

@-webkit-keyframes three {

  75% { -webkit-transform: scale(0); }

}

@keyframes three {

  75% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  
}

/*end*/

/*header*/

.header{
    width:90%;
    margin:auto;
    overflow: hidden;
}

.header-logo{
    float:left;
}

header{
    height: 40px;
    z-index: 10;
    top:0;
    overflow: hidden;
    width:100%;
    position: fixed;
    transition: top 0.2s ease-in-out;
}

.nav-up{
    top:-40px;
}

header ul {
    margin:0;
    padding:0;

}

header a{
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}

header li{
    display:inline;
    padding:0 10px 0 10px;
}

header li:nth-child(1){
    text-decoration: underline;
    text-decoration-color: orange;
}

header li a:hover{
    
    color:black
}

header nav{
    float:right;
    margin-top:17px;
}

/*End Header*/

/*Home*/
/*Home*/


.home img{
    height: 770px;
    top:0%;
    left:0%;
    position: absolute;
    width:100%;
    filter: brightness(90%);
}
.point {
    position: absolute;
    width: 6px;
    height: 6px;
    background: tomato;
    transition: width 1s ease;
    top:50%;
    left:50%;
    }
    .point:hover {
        width: 200px;
    }
@keyframes scroll{
    from{
        height:0px
    }
    to{
        height: 100px;
    }

}

.line{
    bottom: 100px;
    width: 4px;
    height: 150px;
    position: absolute;
    top:73%;
    left:50%;
    background-position: 0 -200px;
    background:white;
    border-radius: 50px;
    animation: scroll 1.5s ease forwards infinite; 
}

.home-scroll p{
    position: absolute;
    color:white;
    font-family: Geomanist;
    font-size: 18px;
    top:85%;
    left:48.3%;
}

